<div class="container">
    <div class="myProjects text-center py-5">
        <div class="h1 header-pill" style="width: 30%;">My Projects:</div>
    </div>
    <div class="py-5 projects">
        <span class="pill">
            <span class="h2 project-list">Project 1:</span>
            <a href="../../assets/recipes/index.html" clasS="h3 project-name">Recipes</a>
        </span>
        <br><br>
        
        <p>This Project was done to learn html and css with flex boxes as well as flex grid.</p>
        <p>In this exercise I learned all basics of html and css and put them to use.</p>
    </div>
    <div class="text-end py-5 projects">
        <span class="pill">
            <span class="h3 project-list">Project 2:</span>
            <a href="../../assets/planner/index.html" clasS="h4 project-name">My Daily Planner</a>
        </span>
        <br><br>
        
        <p>My Daily Planner was our first project where a real programming language was introduced</p>
        <p>I programmed this page with JavaScript so that the user of the page is able to <br> change the priority of each task and put the task on done or delete.</p>
    </div>
    <div class="py-5 projects">
        <span class="pill">
            <span class="h3 project-list">Project 3:</span>
            <a href="../../assets/dist/code-review/index.html" class="h4 project-name">Pizzaria Delivery</a>
        </span>
        <br><br>
        <p>In the last CodeReview i did for the Frontend, the task was to make a page for a Pizzeria.</p>
        <p>For this we used Angular and made it so that the user can add different items of the <br> Pizzeria to his shopping cart. I also programmed some special events into this <br> so that the user gets a discount for his order when his order is more than 40€.</p>
    </div>
    <div class="text-end py-5 projects">
        <span class="pill">
            <span class="h3 project-list">Group Project:</span>
            <a href="" class="h4 project-name">Photographer's Page</a>
        </span>
        <br><br>
        <p>After our last project we made a group project about for a Photographer.</p>
        <p>We made this project in Angular and tried to make it seem like a real Photographer's page. <br>We also got some pictures from a real Photographer.</p>
    </div>
</div>

