p{
    font-size: 125%;
}
.header-pill{
    margin-left: 35%;
    transition: .3s;
    padding: 15px 20px;
    border-radius: 50px;
    background-color: rgb(78, 125, 255);
}
.header-pill:hover{
    transform: scale(1.05);
}

.project-name{
    transition: 0.3s;
    color: rgb(204, 204, 204);
    text-decoration: none;
    margin-left: 1%;
}

.project-name:hover{
    color: white;
    text-decoration: none;
}

.pill{
    transition: .3s;
    padding: 20px 20px;
    border-radius: 50px;
    background-color: rgb(78, 125, 255);
}
.pill:hover{
    background-color: rgb(78, 134, 255);
}

.projects{
    transition: .3s;
    transform: scale(1);
}
.projects:hover{
    transform: scale(1.05);
}
/*
.project-name{
    display: none;
}

.project-list:hover, .project-name:hover{
    display: inline;
}
*/