/* importing special font for recipe of the month */
@import url(https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap); /* SCSS FOR UPPER HEADER*/
.header-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-bar li {
  list-style: none;
  margin-right: 2rem;
}
.header-bar li a {
  text-decoration: none;
  color: black;
}
.header-bar li a:hover {
  transition: 0.5s;
  color: gray;
}
.header-bar li:first-child {
  margin-right: auto;
}
.header-bar .header-logo {
  width: 7.5rem;
  filter: saturate(0);
}
.header-bar .header-logo:hover {
  transition: 2s;
  filter: saturate(2);
}

/* SCSS FOR LOWER HEADER */
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 1rem 0 1rem 0;
  border-top: 1px solid black;
  box-shadow: 0 3pt 2pt -1pt gray;
}
.nav-bar:hover {
  transition: 1s ease;
  background-color: rgb(248, 248, 248);
}
.nav-bar li a {
  font-size: 115%;
  text-decoration: none;
  color: black;
}
.nav-bar li a:hover {
  transition: 0.5s ease;
  color: grey;
}

/* Media SCSS for Phones */
@media screen and (max-width: 480px) {
  .nav-bar li a {
    font-size: 70%;
  }
}
/* HOME FOOD GRID */
#grid-container {
  margin-top: 2rem;
  margin-left: 12.5%;
  margin-right: 12.5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2%;
}
#grid-container img {
  width: 100%;
  height: 100%;
}
#grid-container .grid-item {
  width: 100%;
  height: 100%;
  position: relative;
}
#grid-container .grid-item:hover .image-text-bg {
  transition: 1s;
  opacity: 0.7;
}
#grid-container .grid-item .image-text-bg {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 28%;
  opacity: 0.5;
  background-color: black;
  margin-top: 0;
  z-index: 1;
}
#grid-container .grid-item .image-text {
  position: absolute;
  display: block;
  right: 25%;
  left: 25%;
  top: 75%;
  text-align: center;
  color: white;
  font-size: 10pt;
  line-height: 1.3rem;
  z-index: 1;
}

/* Media SCSS for Tablets */
@media screen and (max-width: 801px) {
  #grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  #grid-container .grid-item .image-text {
    font-size: 8pt;
    line-height: 1rem;
  }
}
/* Media SCSS for Phones */
@media screen and (max-width: 480px) {
  #grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(11, 1fr);
  }
  #grid-container .grid-item .image-text {
    font-size: 10pt;
    line-height: 1rem;
  }
}
/* FOOTER FOR ALL PAGES */
footer {
  margin-top: 5%;
  background-color: beige;
  color: black;
  text-align: center;
  padding: 1rem 20% 1rem 20%;
}

.footer-nav, .footer-nav-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.footer-nav li a, .footer-nav-2 li a {
  color: black;
  text-decoration: none;
}
.footer-nav li a:hover, .footer-nav-2 li a:hover {
  transition: 1s;
  color: rgb(112, 112, 112);
}

.footer-nav-2 {
  padding: 1rem 23% 0 23%;
}

/* Media SCSS for Phones */
@media screen and (max-width: 480px) {
  .footer-nav li a, .footer-nav-2 li a {
    font-size: 70%;
  }
  footer div p {
    font-size: 8pt;
  }
}
@media screen and (max-width: 801px) {
  .footer-nav li a, .footer-nav-2 li a {
    font-size: 80%;
  }
  footer div p {
    font-size: 90%;
  }
}
/* RECIPE OF THE MONTH AND ALL OTHER FOOD NAV PAGES */
.recipe-container {
  display: flex;
  margin-left: 4%;
  margin-top: 4%;
}
.recipe-container img {
  display: block;
  width: 45%;
  padding: 1%;
  box-shadow: 5px 5px 5px 5px beige;
}
.recipe-container .ingredient-list {
  display: block;
  width: 39%;
  height: 25%;
  padding: 4%;
  box-shadow: 4px 4px 4px 4px rgb(201, 201, 183);
  font-size: 130%;
}

.recipe-method {
  display: block;
  width: 80%;
  padding: 5%;
  margin-top: 1vh;
  margin-left: 4.5vw;
  box-shadow: 4px 4px 4px 4px rgb(201, 201, 183);
  line-height: 2rem;
  font-size: 1.3rem;
}

.recipe-header {
  margin-top: 5%;
  text-align: center;
  font-family: "Ms Madi";
  font-size: 1.4rem;
}

.rating {
  margin: 3vh 5vw;
  font-size: 25pt;
}
.rating .rating-stars {
  margin-left: 2vw;
  font-size: 30pt;
  color: gold;
}

/* Media SCSS for Tablets */
@media screen and (max-width: 801px) {
  .recipe-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .recipe-container img {
    width: 100%;
  }
  .recipe-container .ingredient-list {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .recipe-container .ingredient-list {
    font-size: 80%;
    padding: 6%;
  }
  .recipe-method {
    font-size: 85%;
  }
}
/* ABOUT PAGE */
#about-body {
  background-color: #48008f;
  color: white;
}
#about-body a {
  color: white;
}

.about-nav {
  display: flex;
  justify-content: space-around;
  font-size: 20pt;
}
.about-nav .about-nav-item {
  list-style: upper-roman;
}
.about-nav .about-nav-item a {
  text-decoration: none;
}

.about-logo {
  filter: invert(80%);
}

.about-container {
  display: flex;
  margin: 5%;
}
.about-container .about-left {
  width: 60%;
}
.about-container .about-left img {
  width: 12%;
}
.about-container .about-left .about-ps {
  font-size: 8pt;
}
.about-container .about-right {
  width: 45%;
  margin: 0 10% 15% 20%;
}
.about-container .about-right img {
  width: 75%;
}

#about-footer {
  background-color: #48008f;
  box-shadow: 4px 4px 10px 2px white;
  color: white;
  width: 50%;
  margin: auto;
}
#about-footer .about-footer-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
}
#about-footer .about-footer-nav a {
  text-decoration: none;
}

@media screen and (max-width: 801px) {
  .about-nav {
    font-size: 12pt;
  }
  .about-container .about-left img {
    width: 40%;
  }
  .about-container .about-right img {
    width: 100%;
  }
  #about-footer {
    font-size: 9pt;
  }
}
@media screen and (max-width: 480px) {
  .about-nav {
    font-size: 8pt;
  }
  #about-footer {
    font-size: 6pt;
  }
}/*# sourceMappingURL=styles.css.map */