<div class="container">
    <h1 class="text-center my-4 header-pill">About Me</h1>
    <div class="row my-4">
        <div class="col-6">
            <div class="about-me-box">
                <div class="about-me-text">
                    <h4>What is there to tell you about me?</h4>
                    <p>I started programming when i was in school and it took some time until I turned it into my
                        profession.</p>
                    <p>In January of 2021 I decided that I will finally turn my hobby into a profession and I haven't
                        looked back since.</p>
                    <p class="mb-5">Since then I am employed as an apprentice for a small company in Vienna.</p>
                    <p>What especially amazes me about programming is when that you can make a project out of nothing
                        but your skills.</p>
                    <p class="mb-5">A fun day for me is when I have all the time in the world and can programm as much
                        as I want.</p>
                    <p>If I'm not currently programming, I like to spend my freetime playing role-playing games such as
                        Dungeons and Dragons with my friends.</p>
                    <p>Whenever there it is possible I love to go swimming, because it frees my mind after a long and
                        hard day.</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <img src="../../assets/aboutme.jpg" class="myimg" alt="">
        </div>
    </div>
    <div clas="my-rating">
        <div class="h1 text-center header-pill">My Skills</div>
        <div class="row pill my-5">
            <div class="col-6 my-2">
                <span class="h5">
                    SQL
                </span>
                <p>90%</p>
                <div id="sql"></div>

            </div>
            <div class="col-6 my-2">
                <span class="h5">
                    C#
                </span>
                <p>90%</p>
                <div id="sql"></div>
            </div>
            <div class="col-6 my-2">
                <span class="h5">
                    HTML
                </span>
                <p>92%</p>
                <div id="html"></div>
            </div>
            <div class="col-6 my-2">
                <span class="h5">
                    CSS
                </span>
                <p>88%</p>
                <div id="css"></div>
            </div>
            <div class="col-6 my-2">
                <span class="h5">
                    JS
                </span>
                <p>75%</p>
                <div id="js"></div>
            </div>
            <div class="col-6 my-2">
                <span class="h5">
                    Angular
                </span>
                <p>60%</p>
                <div id="ng"></div>
            </div>
        </div>
    </div>

</div>