<div class="container">
    <div class="row py-5">
        <div class="col-7 py-3">
            <div class="welcome">
                <h4>Hello and welcome to my portfolio page!</h4>
                <p class="py-2 first-sentence">My name is Michael Steinacher I am currently 24 years old and I'm a FullStack programmer.</p>
                <p>I am living in Schwadorf, Lower Austria.</p>
                <p>I also am currently employed at the PDC GmbH as an apprentice.</p>
                <p>Feel free to contact me if you want to on my email: <a href="mailto:michael.st5698@gmail.com" class="myMail">michael.st5698@gmail.com</a></p>
            </div>
        </div>
        <div class="col-5"><img src="../../assets/me.jpg" class="myHeadshot" alt="Picture of me"></div>
    </div>

    <div class="hire-me my-4">
        <h2 class="text-center py-4">
            <span class="hire-me-pill">Why hire me?</span>
        </h2>
        <div class="text-center">
            <h5>As a motivated programmer I am always learning and trying to progress to my full potential</h5>
            <div class="hire-me-quote">
                <p class="my-4">
                    “Code is like humor. When you have to explain it, it's bad.” <br>
                </p>
                <div class="text-end" style="width: 80%;"> - Cory House</div>
                
            </div>
            <br>
            <br>
            <span class="hire-me-pill h4 py-3">What i bring to the table:</span>
            <div class="row py-5">
                <div class="col-6">
                    <h5>Motivation</h5>
                    <h5>Team Player</h5>
                    <h5>Problem Solving</h5>
                    <h5>Honesty</h5>
                </div>
                <div class="col-6">
                    <h5>Flexibility</h5>
                    <h5>Interst in new technologies</h5>
                    <h5>Competence</h5>
                    <h5>Creativity</h5>
                </div>
            </div>
        </div>
    </div>
</div>
